
  .blue {
    color: #5079d9;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  
  .price {
    color:rgb(212,77,68)
  }
  .content_dv {
    img {
      width: 100%;
      height: 100%;
    }
    background: #fff;
    height: 430px;
    width: 25%;
    .subtitle {
      color: #ccc;
    }
    .hot_btn {
      display: none;
    }
    .hot_btn div {
      border-radius: 4px;
      width: 70px;
      padding: 5px 12px;
    }
    .detal {
      border: 1px solid #ccc;
      color: rgb(100, 100, 100);
    }
    .car {
      border: 1px solid #5c81e3;
      background-color: #678ee7;
    }
    &:hover {
      animation: content_dv_hover 0.7s forwards;
      .hot_btn {
        display: flex !important;
        display: block;
      }
      .price {
        display: none;
      }
    }
  }